<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegisterLogin" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILudo" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/Ludo" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILudo" contract="LudoGamePlayServiceReference.ILudo"
                name="NetTcpBinding_ILudo">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LudoService/RegisterLogin/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegisterLogin"
                contract="RegisterLogin.IRegisterLogin" name="BasicHttpBinding_IRegisterLogin" />
        </client>
    </system.serviceModel>
</configuration>